body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #202321;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #66696a;
  padding: 0 50px;
  box-shadow: 0 4px 12px rgba(51, 7, 7, 0.05);
}

.logo img {
  height: 50px;
  width: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #bedbc7;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0);
}

.nav-links a:hover {
  background-color: #a8a3a3;
  color: #ffffff;
  transform: translateY(-5px);
}

.login a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #333333;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0);
}

.login a:first-child {
  margin-left: 0;
}

.login a:hover {
  background-color: #ffffff;
  color: #333333;
  transform: translateY(-5px);
}








.hero {
  
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.hero-content {
  text-align: center;
  color: white;
  opacity: 0;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-btn {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 1rem 2rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.hero-btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  z-index: -1;
}

.hero-btn:hover::before {
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content {
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
